flows.json
[{"id":"215b6163.7fae0e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b0c39436.316cc8","type":"ui_form","z":"215b6163.7fae0e","name":"","label":"","group":"bca998d1.8d4e28","order":3,"width":7,"height":2,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":260,"wires":[["d3c3eb3b.ae23e8"]]},{"id":"d3c3eb3b.ae23e8","type":"function","z":"215b6163.7fae0e","name":"Beta IN","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["9c8e1a88.558528","3790c857.264f88"]]},{"id":"9c8e1a88.558528","type":"ui_text","z":"215b6163.7fae0e","group":"bca998d1.8d4e28","order":4,"width":7,"height":2,"name":"","label":"You:","format":"{{msg.payload}}","layout":"col-center","x":450,"y":380,"wires":[]},{"id":"3790c857.264f88","type":"watson-conversation-v1","z":"215b6163.7fae0e","name":"","workspaceid":"54451265-7ebf-4ecb-9962-3fa97ce71685","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/9200a991-683f-4158-8908-a887e542cdaa","timeout":"","optout-learning":false,"x":580,"y":140,"wires":[["42873371.f35a9c","7ae68831.f1bfe8"]]},{"id":"42873371.f35a9c","type":"function","z":"215b6163.7fae0e","name":"Beta Out","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["cf38ff2a.43cd8"]]},{"id":"7ae68831.f1bfe8","type":"debug","z":"215b6163.7fae0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":60,"wires":[]},{"id":"cf38ff2a.43cd8","type":"ui_text","z":"215b6163.7fae0e","group":"486de4dd.89beec","order":1,"width":15,"height":4,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":850,"y":380,"wires":[]},{"id":"bca998d1.8d4e28","type":"ui_group","z":"","name":"Chatbot","tab":"b9e4bfd2.3a851","order":1,"disp":true,"width":7,"collapse":false},{"id":"486de4dd.89beec","type":"ui_group","z":"","name":"Bot Response","tab":"b9e4bfd2.3a851","order":2,"disp":true,"width":"15","collapse":false},{"id":"b9e4bfd2.3a851","type":"ui_tab","z":"","name":"Intelligent Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]